<div class="container">

    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Halaman About</h1>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.
                </p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <img src="../img/pp.jpg" alt="pp">
                    <h1 class="display-4">Andika</h1>
                    <p class="lear">Apa</p>
                </div>
            </div>
        </div>
    </div>
</div>